@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  color: #1f2128;
}
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #dadada;
}
